/* MAIN CONTAINER */
.home-container {
  padding: 30px;
  font-family: "Inter", sans-serif;
}

/* HEADER */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  font-size: 26px;
  font-weight: 600;
}

.mycourse-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-right: 10px;
}

.mycourse-btn:hover {
  background-color: #43a047;
}


.logout-btn {
  background: #ff4d4d;
  padding: 8px 16px;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #e03d3d;
}

/* SUBTITLE */
.home-subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: #555;
}

/* GRID */
.course-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

/* COURSE CARD */
.course-card {
  padding: 20px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
}

/* TEXT */
.course-title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.course-desc {
  margin: 8px 0;
  font-size: 15px;
  color: #666;
}

.course-price {
  margin: 10px 0;
  font-size: 17px;
  font-weight: 600;
}

/* TAGS */
.free-tag {
  color: #22c55e;
  font-weight: 700;
}

/* BUTTON */
.course-btn {
  width: 100%;
  padding: 10px;
  background: #4a90e2;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.course-btn:hover {
  background: #3b7bc0;
}
