.login-wrapper { 
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 450px;
  background: white;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.signup-box { 
  width: 520px;          
  background: white;
  padding: 40px;      
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.12);
}